In [9]:
import sys
import os
sys.path.insert(0, os.path.abspath('../py'))
from Secrets import ReadSecrets

from pandas_datareader import data as pdr

import pandas as pd

import yfinance as yf
yf.pdr_override()
from datetime import datetime as calendar
import numpy as np
import chart_studio.plotly as plty

secrets = ReadSecrets().read('../secrets.json')
plty.sign_in(secrets.secrets['plotly']['username'], secrets.secrets['plotly']['apiKey'])

import plotly.graph_objs as gobjs

In [3]:
def get(tickers, start_date, end_date):
    def data(ticker):
        return (pdr.get_data_yahoo(ticker, start=start_date, end=end_date))
        
    tickers_data = map(data, tickers)
    
    return pd.concat(tickers_data, keys=tickers, names = ['Ticker', 'Date'])

In [10]:
tickers = ['AAPL', 'MSFT', '^GSPC']
start_date = calendar(2016, 1 ,1)
end_date = calendar(2018, 12, 31)

data = get(tickers, start_date, end_date)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [11]:
data.head(10)

                         Open        High         Low       Close  Adj Close  \
Ticker Date
AAPL   2016-01-04  102.610001  105.370003  102.000000  105.349998  98.213585
       2016-01-05  105.750000  105.849998  102.410004  102.709999  95.752419
       2016-01-06  100.559998  102.370003   99.870003  100.699997  93.878586
       2016-01-07   98.680000  100.129997   96.430000   96.449997  89.916473
       2016-01-08   98.550003   99.110001   96.760002   96.959999  90.391907
       2016-01-11   98.970001   99.059998   97.339996   98.529999  91.855568
       2016-01-12  100.550003  100.690002   98.839996   99.959999  93.188705
       2016-01-13  100.320000  101.190002   97.300003   97.389999  90.792793
       2016-01-14   97.959999  100.480003   95.739998   99.519997  92.778496
       2016-01-15   96.199997   97.709999   95.360001   97.129997  90.550415

                     Volume
Ticker Date
AAPL   2016-01-04  67649400
       2016-01-05  55791000
       2016-01-06  68457400
       2016-01-07  81094400
       2016-01-08  70798000
       2016-01-11  49739400
       2016-01-12  49154200
       2016-01-13  62439600
       2016-01-14  63170100
       2016-01-15  79833900

In [12]:
data.tail(10)

                          Open         High          Low        Close  \
Ticker Date
^GSPC  2018-12-14  2629.679932  2635.070068  2593.840088  2599.949951
       2018-12-17  2590.750000  2601.129883  2530.540039  2545.939941
       2018-12-18  2559.899902  2573.989990  2528.709961  2546.159912
       2018-12-19  2547.050049  2585.290039  2488.959961  2506.959961
       2018-12-20  2496.770020  2509.629883  2441.179932  2467.419922
       2018-12-21  2465.379883  2504.409912  2408.550049  2416.620117
       2018-12-24  2400.560059  2410.340088  2351.100098  2351.100098
       2018-12-26  2363.120117  2467.760010  2346.580078  2467.699951
       2018-12-27  2442.500000  2489.100098  2397.939941  2488.830078
       2018-12-28  2498.770020  2520.270020  2472.889893  2485.739990

                     Adj Close      Volume
Ticker Date
^GSPC  2018-12-14  2599.949951  4035020000
       2018-12-17  2545.939941  4616350000
       2018-12-18  2546.159912  4470880000
       2018-12-19  2506.959961  5127940000
       2018-12-20  2467.419922  5585780000
       2018-12-21  2416.620117  7609010000
       2018-12-24  2351.100098  2613930000
       2018-12-26  2467.699951  4233990000
       2018-12-27  2488.830078  4096610000
       2018-12-28  2485.739990  3702620000